[Pb]
#(1)//服务地址，必选
#music_server=10.28.104.47
music_server=10.40.17.42

#(2)//端口号
#music_port=8008
music_port=80
#(3)//连接超时，秒，可选
music_connTimeout=3
#(4)//数据读取超时，秒，可选
music_readTimeout=3000
#(5)//默认的服务节点ID
music_ServiceId=NMIC_MUSIC_CMADAAS

##(6)是否为存储挂载方式，0文件将上传到服务端，1文件通过本地挂载盘写到服务端
music_store_backstage=0
##(7)如果为true，必须填写挂载目录对应位置
music_local_mount=F://CIMISS
##(8)如果为true，服务端挂载目录位置
music_server_mount=/home/api/api/CIMISS